@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  margin: 0;
  font-family: "Comfortaa";
}
.content {
  padding: 20px 0px;
  display: flex;
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
}
button {
  border: 0px;
  padding: 5px 10px; 
  margin: 8px 5px;
  color: white;
  border-radius: 8px;
  background-color: #03A696;
}
button:hover {
  background-color: #04BF9D;
}

/* amplify authenticator */
.amplify-button[data-variation='primary'] {
  color: white;
  border-radius: 8px;
  background-color: #03A696;
}
.amplify-button:hover[data-variation='primary'] {
  color: white;
  border-radius: 8px;
  background-color: #04BF9D;
}

/* navbar */
.navbar {
  padding: 20px 0px;
  display: flex;
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
  border-bottom: 0.5px solid #04BF9D;
}
.navbar h1 {
  color: #253659;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #253659;
}
.navbar a:hover {
  color: #04BF9D;
}
.signedInLinks {
  display: inline-block;
}

/* list of blogs */
.blog-list h2 {
  color: #253659;
}
.blog-preview {
  margin: 30px 0px;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgb(186, 196, 226);
  white-space: pre-wrap;
}
.blog-preview h2 {
  color: #04BF9D;
}
.blog-preview p {
  color: #03A696;
}
.blog-preview article {
  color: #253659;
  padding-bottom: 4px;
  margin-bottom: 15px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgb(134, 146, 183);
}
.blog-preview:active {
  box-shadow: none;
}
.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details {
  white-space: pre-wrap;
}
.blog-details h2{
  color: #04BF9D;
}
.blog-details p {
  color: #253659;
  margin-top: 10px;
}
.blog-details div {
  color: #253659;
  margin-top: 20px;
}

/* create page */
.create {
  width: 60%;
  min-width: 400px;
  max-width: 400px;
  margin: 0 auto;
}
.create h2 { 
  text-align: center;
  color: #253659;
}
.create label {
  color: #253659;
}
.create button {
  margin: 8px auto;
}