@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  margin: 0;
  font-family: "Comfortaa";
}
.content {
  padding: 20px 0px;
  /* display: flex; */
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
  color: #253659;
}
.post-button {
  width: 100%;
}
button {
  border: 0px;
  padding: 5px 10px; 
  margin: 0px;
  color: white;
  border-radius: 5px;
  background-color: #03A696;
}
button:hover {
  background-color: #04BF9D;
}
p {
  margin-bottom: 0;
}

/* amplify authenticator */
.amplify-button[data-variation='primary'] {
  color: white;
  border-radius: 8px;
  background-color: #03A696;
}
.amplify-button:hover[data-variation='primary'] {
  color: white;
  border-radius: 8px;
  background-color: #04BF9D;
}

/* navbar */
.navbar {
  padding: 20px 0px;
  display: flex;
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
  border-bottom: 0.5px solid #253659;
}
.navbar h1 {
  color: #04BF9D;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #253659;
}
.navbar a:hover {
  color: #04BF9D;
}
.signedInLinks {
  display: inline-block;
}

/* dropdown menu */
.dropdown {
  position: relative;
  color: #253659;
}
.dropdown-button {
  width: 200px;
  margin: 0;
  border: 0px;
  padding: 5px 10px;
  border: 1px solid #03A696;
  color: #253659;
  background-color: white;
  border-radius: 3px;

}
.dropdown-button:hover {
  color: white;
}
.menu {
  position: absolute;
  top: -10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0.5px solid white;
  width: 200px;
  border: 1px solid #03A696;
  background-color: white;
}
.menu li button {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border-bottom: 0.5px solid #03A696;
  background-color: white;
  color: #253659;
}
li button:hover {
  color: white;
  background-color: #04BF9D;
}


/* list of blogs */
.blog-list {
  width: 80%;
}
.blog-list h2 {
  color: #253659;
}
.blog-list a {
  text-decoration: none;
  color: inherit;
}

.blog-preview {
  margin: 30px 0px;
  padding: 20px;
  max-width: 550px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgb(186, 196, 226);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  hyphens: auto;
}
.blog-preview h2 {
  color: #253659;
}
.blog-preview p {
  color: #253659;
}
.blog-preview .author {
  color: #03A696;
}
.blog-preview .author:hover {
  color: #04BF9D;
}
.blog-preview article {
  color: #253659;
  padding-bottom: 4px;
  margin-bottom: 15px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgb(134, 146, 183);
}
.blog-preview a {
  text-decoration: none;
}
.category {
  width: fit-content !important;
}

/* blog details page */
.blog-details {
  white-space: pre-wrap;
}
.blog-details h2{
  color: #04BF9D;
}
.blog-details p {
  color: #253659;
  margin-top: 10px;
}
.blog-details div {
  color: #253659;
  margin-top: 20px;
}
.blog-details ul {
  width: 200px;
  list-style: circle;
}
.blog-details li {
  margin-bottom: 5px;
}
.blog-details a {
  /* text-decoration: none; */
  color: #03A696;
}
.blog-details a:hover {
  /* text-decoration: none; */
  color: #04BF9D;
}

/* blog posts */
.blogpost-preview {
  margin: 30px 0px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgb(186, 196, 226);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  hyphens: auto;
}
.blogpost-preview article {
  color: #253659;
  padding-bottom: 4px;
  margin-bottom: 15px;
}
.blogpost-preview a {
  text-decoration: none;
  color: #03A696;
}
.blogpost-preview a:hover {
  text-decoration: none;
  color: #04BF9D;
}
.category {
  float: right;
  color: #03A696;
  margin-top: 5px;
}

/* create page */
.create-modal {
  max-width: 900px;
  margin: 0 auto;
  color: #253659;
}
.create-modal h2 { 
  margin-top: 30px;
  text-align: center;
}
.create-modal button {
  margin: 8px auto;
}