@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  margin: 0;
  font-family: "Comfortaa";
}
h1 {
  color: #006997;
}
h2 {
  color: #006997;
}
h3 {
  color: #006997;
}
.content {
  padding: 20px 0px;
  width: 90%;
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
  color: #253659;
  background-color: white;
}
.post-button {
  width: 100%;
}
button {
  border: 0px;
  padding: 5px 10px; 
  margin: 0px;
  color: white;
  border-radius: 15px;
  background-color: #45C4B0;
}
button:hover {
  background-color: #9aebc3;
}

p {
  margin-bottom: 0;
}

/* amplify authenticator */
.amplify-button[data-variation='primary'] {
  color: white;
  border-radius: 8px;
  background-color: #45C4B0;
}
.amplify-button:hover[data-variation='primary'] {
  color: white;
  border-radius: 8px;
  background-color: #9aebc3;
}

/* navbar */
.navbar {
  padding: 20px 0px;
  width: 90%;
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 8px 8px -8px rgb(186, 196, 226);
}
.navbar h1 {
  color: #45C4B0;
}
.navbar h1:hover {
  color: #9aebc3;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #253659;
}
.navbar a:hover {
  color: #04BF9D;
}
.signedInLinks {
  display: inline-block;
}

/* dropdown menu */
.dropdown {
  position: relative;
  color: #006997;
}
.dropdown-button {
  width: 200px;
  margin: 0;
  border: 0px;
  padding: 5px 10px;
  border: 1px solid #45C4B0;
  color: #006997;
  background-color: white;
  border-radius: 3px;

}
.dropdown-button:hover {
  color: white;
  background-color: #45C4B0;
}
.menu {
  position: absolute;
  top: -10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0.5px solid white;
  width: 200px;
  border: 1px solid #45C4B0;
  background-color: white;
}
.menu li button {
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border-bottom: 0.8px solid #45C4B0;
  background-color: white;
  color: #006997;
}
li button:hover {
  color: white;
  background-color: #45C4B0;
}


/* list of blogs */
.blog-list a {
  text-decoration: none;
  color: inherit;
}

.blog-preview {
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgb(186, 196, 226);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  hyphens: auto;
  background-color: white;
}
.blog-preview p {
  color: #253659;
}
.blog-preview .author {
  color: #03A696;
}
.blog-preview .author:hover {
  color: #04BF9D;
}
.blog-preview article {
  color: #253659;
  padding-bottom: 4px;
  margin-bottom: 15px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgb(134, 146, 183);
}
.blog-preview a {
  text-decoration: none;
}
.category {
  width: fit-content !important;
}

/* blog details page */
.details a {
  text-decoration: underline;
  color: #45C4B0;
}
.details a:hover {
  color: #9aebba;
}
.blog-details {
  white-space: pre-wrap;
}
.blog-details p {
  color: #253659;
  margin-top: 10px;
}
.blog-details div {
  color: #253659;
  margin-top: 20px;
}
ul {
  width: 200px;
  list-style: circle;
}
.categories-box li {
  margin-bottom: 5px;
}
.blog-details a {
  color: #03A696;
}
.blog-details a:hover {
  color: #04BF9D;
}

.blogdetails-header {
  margin: 15px 0px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #45C4B0;
  /* box-shadow: 1px 3px 5px rgb(186, 196, 226); */
  white-space: pre-wrap;
  overflow-wrap: break-word;
  hyphens: auto;
  background-color: white;
}
.blogdetails-header h1{
  color: #006997;
}
.blogdetails-header p{
  color: #006997;
}
.blogdetails-header a{
  color: #45C4B0;
  text-decoration: none;
}
.blogdetails-header a:hover{
  color: #9aebba;
}

/* blog posts */
.blogpost-preview {
  margin: 30px 0px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgb(186, 196, 226);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  hyphens: auto;
  background-color: white;
}
.blogpost-preview article {
  color: #253659;
  padding-bottom: 4px;
  margin-bottom: 15px;
}
.blogpost-preview a {
  text-decoration: none;
  color: #03A696;
}
.blogpost-preview a:hover {
  text-decoration: none;
  color: #04BF9D;
}
.category {
  float: right;
  color: #03A696;
  margin-top: 5px;
}

/* categories */
.categories a{
  text-decoration: none;
  color: #45C4B0;
}
.categories a:hover {
  color: #9aebba;
}
.categories-box {
  margin: 18px 0;
  padding: 20px;
  border-radius: 5px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  hyphens: auto;
}
.categories-box h2 {
  color: #006997;
}
.categories-box a {
  text-decoration: none;
  color: #45C4B0;
}
.categories-box a:hover {
  color: #9aebba;
}

/* create post modal */
.create-modal {
  max-width: 900px;
  margin: 0 auto;
  color: #253659;
}
.create-modal h2 { 
  text-align: center;
}
.create-modal button {
  margin: 8px auto;
}

/* create blog */
.create-blog {
  width: 85%;
  max-width: 400px;
  margin: 0 auto;
  color: #253659;
}
.create-blog h2 { 
  margin-top: 30px;
  text-align: center;
}
.create-blog button {
  margin: 8px auto;
}

/* profile page */
.profile-page {
  width: 80%;
  margin: 0 auto;
}
.profile-page h3 {
  color: #45C4B0 !important;
}
.profile-page h3:hover {
  color: #9aebba !important;
}
.profile-page h2 {
  color: #006997;
}
.profile-page h4 {
  color: #006997;
  margin: 0;
}
.about-box {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgb(186, 196, 226);
}
.about-box button{
  margin-top: 10px;
  width: 100%;
}
.profile-blogs {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #45C4B0;
  margin-top: 60px;
  width: 100%;
}

/* validation */
.category-validation {
  color: rgb(234, 60, 60);
}
.delete-button {
  color: white !important;
  background-color: rgb(224, 35, 35);
}
.delete-button:hover {
  background-color: rgb(255, 82, 82);
}